FontToolbox.framework/Versions/A/Resources/FTFontTable_kerx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
		elementFormDefault="unqualified"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://developer.apple.com/fonts/"
		xmlns:ft="http://developer.apple.com/fonts/">
    <xs:include schemaLocation="/Library/Frameworks/FontToolbox.framework/Resources/FontToolbox.xsd"/>
	<xs:element name="FTFontTable_kerx">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="kerxSubtable" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:choice>
								<xs:element name="orderedListTable">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="kerxPair" maxOccurs="unbounded" minOccurs="0">
												<xs:complexType>
													<xs:attribute type="xs:unsignedShort" name="index" use="optional"/>
													<xs:attribute type="xs:unsignedShort" name="leftGlyphRefID" use="required"/>
													<xs:attribute type="ft:glyphName" name="leftGlyphName" use="optional"/>
													<xs:attribute type="xs:unsignedShort" name="rightGlyphRefID" use="required"/>
													<xs:attribute type="ft:glyphName" name="rightGlyphName" use="optional"/>
													<xs:attribute type="xs:double" name="amount" use="required"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute type="xs:unsignedShort" name="nPairs" use="optional"/>
										<xs:attribute type="xs:unsignedShort" name="searchRange" use="optional"/>
										<xs:attribute type="xs:unsignedShort" name="entrySelector" use="optional"/>
										<xs:attribute type="xs:unsignedShort" name="rangeShift" use="optional"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="stateTableSubtable">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="ft:classTable" maxOccurs="1" minOccurs="1" />
											<xs:element ref="ft:stateTable" maxOccurs="1" minOccurs="1" />
											<xs:element ref="ft:entryTable" maxOccurs="1" minOccurs="1" />
											<xs:element ref="ft:actionTable" maxOccurs="1" minOccurs="1" />
										</xs:sequence>
										<xs:attribute type="xs:unsignedShort" name="nClasses" use="optional"/>
										<xs:attribute type="ft:hexValue" name="classTableOffset" use="optional"/>
										<xs:attribute type="ft:hexValue" name="stateArrayOffset" use="optional"/>
										<xs:attribute type="ft:hexValue" name="entryTableOffset" use="optional"/>
										<xs:attribute type="ft:hexValue" name="valueTableOffset" use="optional"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="simpleArrayTable">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="ft:classTable" maxOccurs="1" minOccurs="1" />
											<xs:element name="valueMatrix">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="valueMatrixEntry" maxOccurs="unbounded" minOccurs="0">
															<xs:complexType>
																<xs:attribute type="xs:string" name="row" use="required"/>
																<xs:attribute type="xs:string" name="column" use="required"/>
																<xs:attribute type="xs:decimal" name="value" use="required"/>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute type="xs:unsignedShort" name="rowWidth" use="optional"/>
										<xs:attribute type="ft:hexValue" name="leftTableOffset" use="optional"/>
										<xs:attribute type="ft:hexValue" name="rightTableOffset" use="optional"/>
										<xs:attribute type="ft:hexValue" name="dataOffset" use="optional"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="controlPointStateTableSubtable">
									<xs:complexType>
										<xs:sequence>
											<xs:element ref="ft:glyphCoverage" maxOccurs="1" minOccurs="1" />
											<xs:element ref="ft:classTable" maxOccurs="1" minOccurs="1" />
											<xs:element ref="ft:stateTable" maxOccurs="1" minOccurs="1" />
											<xs:element ref="ft:entryTable" maxOccurs="1" minOccurs="1" />
											<xs:element ref="ft:actionTable" maxOccurs="1" minOccurs="1" />
										</xs:sequence>
										<xs:attribute type="ft:hexValue" name="flags" use="optional"/>
										<xs:attribute type="xs:boolean" name="usesCoordinates" use="optional"/>
										<xs:attribute type="xs:boolean" name="usesAnchorPoints" use="optional"/>
										<xs:attribute type="xs:unsignedShort" name="nClasses" use="optional"/>
										<xs:attribute type="ft:hexValue" name="classTableOffset" use="optional"/>
										<xs:attribute type="ft:hexValue" name="stateArrayOffset" use="optional"/>
										<xs:attribute type="ft:hexValue" name="entryTableOffset" use="optional"/>
										<xs:attribute type="ft:hexValue" name="actionTableOffset" use="optional"/>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
						<xs:attribute type="xs:unsignedShort" name="format" use="optional"/>
						<xs:attribute type="xs:unsignedShort" name="length" use="optional"/>
						<xs:attribute type="ft:hexValue" name="coverage" use="optional"/>
						<xs:attribute type="xs:unsignedShort" name="tupleIndex" use="optional"/>
						<xs:attribute type="xs:boolean" name="kerxVertical" use="optional"/>
						<xs:attribute type="xs:boolean" name="kerxCrossStream" use="optional"/>
						<xs:attribute type="xs:boolean" name="kerxVariation" use="optional"/>
						<xs:attribute type="xs:boolean" name="kerxScanBackwards" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute type="xs:decimal" name="version" use="optional"/>
			<xs:attribute type="xs:unsignedShort" name="subtableCount" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="classTable">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="class" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ft:glyph" maxOccurs="unbounded" minOccurs="1"/>
						</xs:sequence>
						<xs:attribute type="xs:string" name="name" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute type="xs:unsignedShort" name="nClasses" use="optional"/>
			<xs:attribute type="ft:hexValue" name="classTableOffset" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stateTable">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="stateRow" maxOccurs="unbounded" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="stateEntry" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:attribute type="xs:string" name="class" use="optional"/>
									<xs:attribute type="xs:string" name="entry" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="name" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute type="xs:unsignedShort" name="nStates" use="optional"/>
			<xs:attribute type="ft:hexValue" name="stateTableOffset" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="entryTable">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="entry" maxOccurs="unbounded" minOccurs="1">
					<xs:complexType>
						<xs:attribute type="xs:string" name="name" use="required"/>
						<xs:attribute type="xs:string" name="nextState" use="required"/>
						<xs:attribute type="xs:boolean" name="markGlyph" use="optional"/>
						<xs:attribute type="xs:boolean" name="pushGlyph" use="optional"/>
						<xs:attribute type="xs:boolean" name="advance" use="optional"/>
						<xs:attribute type="xs:boolean" name="reset" use="optional"/>
						<xs:attribute type="xs:string" name="actionName" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute type="xs:unsignedShort" name="nEntries" use="optional"/>
			<xs:attribute type="ft:hexValue" name="entryTableOffset" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="actionTable">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="action" maxOccurs="unbounded" minOccurs="1">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded" minOccurs="1">
							<xs:choice>
								<xs:element name="poppedKernValue">
									<xs:complexType>
										<xs:attribute type="xs:double" name="value" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="kerxAmount">
									<xs:complexType>
										<xs:attribute type="xs:double" name="value" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="kerningControlPoints">
									<xs:complexType>
										<xs:attribute type="xs:decimal" name="markedGlyphPoint" use="required"/>
										<xs:attribute type="xs:decimal" name="currentGlyphPoint" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="kerningCoordinates">
									<xs:complexType>
										<xs:attribute type="xs:double" name="markXCoordinate" use="required"/>
										<xs:attribute type="xs:double" name="markYCoordinate" use="required"/>
										<xs:attribute type="xs:double" name="currentXCoordinate" use="required"/>
										<xs:attribute type="xs:double" name="currentYCoordinate" use="required"/>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
						<xs:attribute type="xs:string" name="name" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute type="xs:unsignedShort" name="nActions" use="optional"/>
			<xs:attribute type="ft:hexValue" name="actionTableOffset" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="glyphCoverage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ft:glyph" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute type="xs:unsignedShort" name="nGlyphs" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="glyph">
		<xs:complexType>
			<xs:attribute type="xs:unsignedShort" name="glyphRefID" use="required"/>
			<xs:attribute type="ft:glyphName" name="glyphName" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
