Export/FindFontFeatures 2018-06-14 01-00-24/Find Font Features.app/Contents/Frameworks/FontToolbox.framework/Versions/A/Resources/FTFontTable_GSUB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
            elementFormDefault="unqualified"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://developer.apple.com/fonts/"
            xmlns:ft="http://developer.apple.com/fonts/">
    <xs:include schemaLocation="/Library/Frameworks/FontToolbox.framework/Resources/FontToolbox.xsd"/>
    <xs:element name="FTFontTable_GSUB">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref='ft:OTScriptListTable'/>
                <xs:element ref='ft:OTFeatureListTable'/>
                <xs:element ref='ft:OTLookupListTable'/>
            </xs:sequence>
            <xs:attribute name='featureListOffset' use='required' type='ft:hexValue'/>
            <xs:attribute name='lookupListOffset' use='required' type='ft:hexValue'/>
            <xs:attribute name='scriptListOffset' use='required' type='ft:hexValue'/>
            <xs:attribute name='version' use='required' type='xs:decimal'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTScriptListTable'>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs='unbounded' ref='ft:OTScriptRecord'/>
            </xs:sequence>
            <xs:attribute name='scriptCount' use='required' type='xs:integer'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTScriptRecord'>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base='ft:OTLangSysTable'>
                    <xs:sequence>
                        <xs:element minOccurs='0' maxOccurs='unbounded' ref='ft:OTLangSysRecord'/>
                    </xs:sequence>
                    <xs:attribute name='defaultLangSys' use='required' type='ft:hexValue'/>
                    <xs:attribute name='langSysCount' use='required' type='xs:integer'/>
                    <xs:attribute name='scriptOffset' use='required' type='ft:hexValue'/>
                    <xs:attribute name='tag' use='required' type='xs:token'/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTLangSysRecord'>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base='ft:OTLangSysTable'>
                    <xs:attribute name='langSysOffset' use='required' type='ft:hexValue'/>
                    <xs:attribute name='tag' use='required' type='xs:token'/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTFeatureListTable'>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs='unbounded' ref='ft:OTFeatureRecord'/>
            </xs:sequence>
            <xs:attribute name='featureCount' use='required' type='xs:integer'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTFeatureRecord'>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs='unbounded' ref='ft:OTLookupIndex'/>
            </xs:sequence>
            <xs:attribute name='featureOffset' use='required' type='ft:hexValue'/>
            <xs:attribute name='featureParams' use='required' type='ft:hexValue'/>
            <xs:attribute name='index' use='required' type='xs:integer'/>
            <xs:attribute name='lookupCount' use='required' type='xs:integer'/>
            <xs:attribute name='tag' use='required' type='xs:token'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTLookupIndex'>
        <xs:complexType>
            <xs:attribute name='index' use='required' type='xs:integer'/>
            <xs:attribute name='lookupIndex' use='required' type='xs:integer'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTLookupListTable'>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs='unbounded' ref='ft:OTLookupTable'/>
            </xs:sequence>
            <xs:attribute name='lookupCount' use='required' type='xs:integer'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTLookupTable'>
        <xs:complexType>
            <xs:choice>
                <xs:element ref='ft:OTAlternateSetSubst'/>
                <xs:element ref='ft:OTLigatureList'/>
                <xs:element ref='ft:OTMultiSubst'/>
                <xs:element ref='ft:OTSingleSubst'/>
                <xs:element minOccurs='0' maxOccurs='unbounded' ref='ft:OTChainingContextSubst'/>
            </xs:choice>
            <xs:attribute name='ignoreBaseGlyphs' use='required' type='xs:token'/>
            <xs:attribute name='ignoreLigatures' use='required' type='xs:token'/>
            <xs:attribute name='ignoreMarks' use='required' type='xs:token'/>
            <xs:attribute name='index' use='required' type='xs:integer'/>
            <xs:attribute name='lookupType' use='required' type='xs:integer'/>
            <xs:attribute name='markAttachmentType' use='required' type='xs:integer'/>
            <xs:attribute name='rightToLeft' use='required' type='xs:token'/>
            <xs:attribute name='subtableCount' use='required' type='xs:integer'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTAlternateSetSubst'>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs='unbounded' ref='ft:OTGlyphAlternates'/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTGlyphAlternates'>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs='unbounded' ref='ft:OTAlternateGlyph'/>
            </xs:sequence>
            <xs:attribute name='glyphName' use='required' type='xs:token'/>
            <xs:attribute name='glyphRefID' use='required' type='xs:integer'/>
            <xs:attribute name='index' use='required' type='xs:integer'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTAlternateGlyph'>
        <xs:complexType>
            <xs:attribute name='glyphName' use='required' type='xs:token'/>
            <xs:attribute name='glyphRefID' use='required' type='xs:integer'/>
            <xs:attribute name='index' use='required' type='xs:integer'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTLigatureList'>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs='unbounded' ref='ft:OTLigature'/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTLigature'>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs='unbounded' ref='ft:OTComponent'/>
            </xs:sequence>
            <xs:attribute name='glyphName' use='required' type='xs:token'/>
            <xs:attribute name='glyphRefID' use='required' type='xs:integer'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTComponent'>
        <xs:complexType>
            <xs:attribute name='glyphName' use='required' type='xs:token'/>
            <xs:attribute name='glyphRefID' use='required' type='xs:integer'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTMultiSubst'>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs='unbounded' ref='ft:OTSingleGlyphMapping'/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTSingleSubst'>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs='unbounded' ref='ft:OTSingleGlyphMapping'/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTChainingContextSubst'>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs='0' ref='ft:OTBacktrackCoverage'/>
                <xs:element maxOccurs='unbounded' ref='ft:OTInputCoverage'/>
                <xs:element minOccurs='0' ref='ft:OTLookAheadCoverage'/>
                <xs:element ref='ft:OTSubstLookupRecord'/>
            </xs:sequence>
            <xs:attribute name='format' use='required' type='xs:integer'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTBacktrackCoverage'>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs='unbounded' ref='ft:OTGlyph'/>
            </xs:sequence>
            <xs:attribute name='format' use='required' type='xs:integer'/>
            <xs:attribute name='index' use='required' type='xs:integer'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTInputCoverage'>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs='unbounded' ref='ft:OTGlyph'/>
            </xs:sequence>
            <xs:attribute name='format' use='required' type='xs:integer'/>
            <xs:attribute name='index' use='required' type='xs:integer'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTLookAheadCoverage'>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs='unbounded' ref='ft:OTGlyph'/>
            </xs:sequence>
            <xs:attribute name='format' use='required' type='xs:integer'/>
            <xs:attribute name='index' use='required' type='xs:integer'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTSubstLookupRecord'>
        <xs:complexType>
            <xs:attribute name='index' use='required' type='xs:integer'/>
            <xs:attribute name='lookupListIndex' use='required' type='xs:integer'/>
            <xs:attribute name='sequenceIndex' use='required' type='xs:integer'/>
        </xs:complexType>
    </xs:element>
    <xs:complexType name='OTLangSysTable'>
        <xs:sequence>
            <xs:element ref='ft:OTLangSysTable'/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name='OTLangSysTable'>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs='unbounded' ref='ft:OTfeatureIndex'/>
            </xs:sequence>
            <xs:attribute name='featureCount' use='required' type='xs:integer'/>
            <xs:attribute name='lookupOrder' use='required' type='ft:hexValue'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTfeatureIndex'>
        <xs:complexType>
            <xs:attribute name='featureIndex' use='required' type='xs:integer'/>
            <xs:attribute name='index' use='required' type='xs:integer'/>
            <xs:attribute name='tag' use='required' type='xs:token'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTSingleGlyphMapping'>
        <xs:complexType>
            <xs:attribute name='fromGlyph' use='required' type='xs:integer'/>
            <xs:attribute name='fromGlyphName' use='required' type='xs:token'/>
            <xs:attribute name='toGlyph' use='required' type='xs:integer'/>
            <xs:attribute name='toGlyphName' use='required' type='xs:token'/>
        </xs:complexType>
    </xs:element>
    <xs:element name='OTGlyph'>
        <xs:complexType>
            <xs:attribute name='glyphName' use='required' type='xs:token'/>
            <xs:attribute name='glyphRefID' use='required' type='xs:integer'/>
            <xs:attribute name='index' use='required' type='xs:integer'/>
        </xs:complexType>
    </xs:element>
</xs:schema>
